@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;

.footer {
    background-color: #000;
    color: white;
    font-size: 14px;
    max-width: 100%;
    margin: auto;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .footer-section {
    flex: 1 1 200px;
    margin: 1px;
  }
  .logo{
    width: 50pxpx;
    height: 50px;
  }

  .footer-section h4 {
    color: #f3901c;
    margin-bottom: 15px;
  }

  .footer-section p {
    color: #999;
    line-height: 1.5;
  }

  .contact-info {
    margin-top: 10px;
  }

  .contact-info div {
    margin-bottom: 8px;
    color: #f3901c;
  }

  .contact-info div i {
    margin-right: 8px;
  }

  .footer-links ul {
    list-style: none;
    padding: 0;
  }

  .footer-links ul li {
    margin-bottom: 10px;
  }

  .footer-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
  }

  .footer-links ul li a:hover {
    text-decoration: underline;
  }

  .subscribe {
    color: white;
  }

  .subscribe label {
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
  }

  .subscribe input[type="email"] {
    padding: 8px 10px;
    width: 180px;
    border-radius: 3px;
    border: none;
    margin-bottom: 10px;
  }

  .subscribe button {
    background-color: #f3901c;
    border: none;
    padding: 8px 15px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
  }

  .subscribe button:hover {
    background-color: #d67a10;
  }

  .social-icons {
    margin-top: 25px;
  }

  .social-icons a {
    background-color: #f3901c;
    color: white;
    margin-right: 10px;
    padding: 8px 10px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
  }

  .footer-bottom {
    text-align: center;
    margin-top: 25px;
    border-top: 1px solid #333;
    font-size: 16px;
    color: #666;
  }
}